html {
  font-size: 16px;
}

.navbar.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0;
  border-radius: 0;
}

.board {
  height: calc(100vh - 106px + 1rem);
}

.board.ui.grid > .row {
  padding-bottom: 0;
}

.board.ui.grid > .row > .column {
  padding-left: 0;
  padding-right: 0;
}

.board .column > * {
  padding: 1rem 0;
}

.tabs {
  overflow-x: auto;
  overflow-y: hidden;
}

.todo {
  padding: 0.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
}

.section-header.ui.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 1.5rem 0;
}

.divider.no-spacing {
  padding: 0;
  margin: 0;
}

.todo-list {
  overflow-y: auto;
}

.tab {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab.add-new-tab {
  width: 150px;
  display: block;
}

.tab>i {
  margin-top: 2px;
  margin-left: 1rem;
}

.tab.add-new-tab>i {
  margin-right: 1rem;
  margin-left: 0;
}
.add-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.board-name.header.ui {
  margin-bottom: 3rem;
}

.message.ui {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
